@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1350px;
  margin: auto;
}

button {
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.header-content_logo-title {
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  color: #170033;
  font-size: 42px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.header-content_logo-title_gradient {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 22.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-content_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content_menu-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content_menu-list {
  margin-right: 45px;
}
.header-content_menu-list:last-child {
  margin-right: 25px;
}
.header-content_menu-link {
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  color: #170033;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-content_menu-link_active {
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: var(--Linear, linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-content_menu-avatar {
  border-radius: 50%;
  margin-right: 25px;
  cursor: pointer;
  font-size: 50px;
  color: #BC4BDF;
}
.header-content_menu-button {
  padding: 15px 30px;
  border-radius: 28px;
  background: var(--Linear, linear-gradient(90deg, #8A35F2 0%, #BC4BDF 22.4%));
  border: none;
  cursor: pointer;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.transform-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 180px;
  margin-bottom: 180px;
}
.transform-content_left {
  width: 50%;
  margin-right: 50px;
}
.transform-content_left-title {
  display: block;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 22.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}
.transform-content_left-subtitle {
  display: block;
  color: #170033;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 900;
  line-height: 78px;
}
.transform-content_left-subtitle_gradient {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 22.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.transform-content_left-text {
  font-family: "Poppins", sans-serif;
  color: #170033;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 35px;
}
.transform-content_left-button {
  border-radius: 28px;
  padding: 15px 30px;
  border: none;
  background: var(--Linear, linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%));
  color: #fff;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 50px;
}
.transform-content_left-button:last-child {
  margin-right: 0;
}
.transform-content_left-button_transparent {
  background: transparent;
  border: 2px solid var(--Linear, #8A35F2);
  background: var(--Linear, linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.transform-content_left-users {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}
.transform-content_left-users_texts {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  margin-left: 135px;
}
.transform-content_left-users_text {
  display: block;
  margin-bottom: 10px;
  color: var(--170033, #170033);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.transform-content_left-users_text-gradient {
  background: var(--Linear, linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.transform-content_left-users_text:last-child {
  margin-bottom: 0;
}
.transform-content_left-user {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #3a3232;
}
.transform-content_left-user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.transform-content_left-user_two {
  left: 35px;
  z-index: -1;
}
.transform-content_left-user_three {
  left: 65px;
  z-index: -2;
}
.transform-content_right {
  width: 50%;
  position: relative;
}
.transform-content_right-cards {
  position: absolute;
  width: 463px;
  height: 550px;
  top: -400px;
}
.transform-content_right-cards_two {
  transform: rotate(20deg) translateX(121px) translateY(50px);
  z-index: -1;
}
.transform-content_right-cards_three {
  transform: rotate(40deg) translateX(255px) translateY(60px);
  z-index: -2;
}
.transform-content_right-cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.transform-content_right-seal {
  position: absolute;
  z-index: 2;
  top: 85px;
  left: -45px;
}

.brand {
  background-color: #170033;
}
.brand-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.brand-content_item a:hover {
  filter: brightness(90%);
}

.design {
  padding: 150px 0 0 0;
}
.design-content_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.design-content_top-left {
  margin-right: 60px;
}
.design-content_top-left_subtitle {
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 22.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}
.design-content_top-left_title {
  color: #170033;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 62px;
}
.design-content_top-left_title-gradient {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 22.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.design-content_top-right {
  padding: 70px 0 0 0;
  width: 50%;
}
.design-content_top-right_text {
  color: #170033;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.design-content_bottom {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 110px;
}
.design-content_bottom-item {
  position: relative;
  padding: 85px 50px 50px 50px;
  margin-right: 30px;
}
.design-content_bottom-item::after {
  content: "";
  position: absolute;
  border-radius: 30px;
  opacity: 0.1;
  background: var(--Linear, linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%));
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}
.design-content_bottom-item_image {
  position: absolute;
  top: -50px;
}
.design-content_bottom-item_title {
  color: #170033;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 38px;
}
.design-content_bottom-item_title-gradient {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 22.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.design-content_bottom-item_text {
  color: #170033;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
.design-content_bottom-item_links {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.design-content_bottom-item_link {
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 22.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
}

.generate {
  margin-top: 150px;
  background: url("../img/generate/bg_image.jpg");
  background-position: 0 0;
  background-size: 48vw 100%;
  background-repeat: no-repeat;
  height: 800px;
}
.generate-bg {
  background: var(--Linear, linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%));
  width: 930px;
  object-fit: cover;
  z-index: -1;
}
.generate-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.generate-content_left-items {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 550px;
  left: 205px;
}
.generate-content_left-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  padding: 30px 35px;
  border-radius: 20px;
  background: var(--Linear, linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%));
  color: #fff;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  margin-right: 30px;
}
.generate-content_left-item_title {
  font-size: 42px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.generate-content_left-item_subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.generate-content_left-item:last-child {
  background: #170033;
}
.generate-content_right {
  flex-basis: 45%;
}
.generate-content_right-subtitle {
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  display: block;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 22.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 150px;
  margin-bottom: 10px;
}
.generate-content_right-title {
  color: #170033;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: 62px;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
}
.generate-content_right-title_gradient {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 22.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}
.generate-content_right-text {
  display: block;
  color: #170033;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
.generate-content_right-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.generate-content_right-form::before {
  content: "";
  position: absolute;
  border-radius: 30px;
  opacity: 0.1;
  background: var(--Linear, linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%));
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}
.generate-content_right-input {
  position: relative;
  padding: 17px 20px;
  border-radius: 28px;
  border: none;
  background: transparent;
  outline: none;
  color: var(--170033, #170033);
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.generate-content_right-button {
  width: 42%;
  color: #fff;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
  background: var(--Linear, linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%));
  cursor: pointer;
}
.generate-content_right-button img {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.generate-content_right-surprise {
  display: flex;
  align-items: center;
}
.generate-content_right-surprise_text {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 10px;
}
.generate-content_right-surprise img {
  width: 16px;
  height: 16px;
}

.smart-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 60px;
}
.smart-top_subtitle {
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.smart-top_title {
  display: inline-block;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 62px;
  color: #170033;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  margin-bottom: 15px;
}
.smart-top_title-gradient {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.smart-top_text {
  color: #170033;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.smart-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.smart-content_left {
  margin-right: 60px;
}
.smart-content_left-item {
  margin-bottom: 45px;
}
.smart-content_left-item:last-child {
  margin-bottom: 0;
}
.smart-content_left-item_top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.smart-content_left-item_top-texts_title {
  color: #170033;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 38px;
}
.smart-content_left-item_top-texts_title-gradient {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.smart-content_left-item_logo {
  margin-right: 25px;
}
.smart-content_left-item_text {
  color: #170033;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.smart-content_right-image {
  width: 645px;
  height: 726px;
}
.smart-content_right-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.graphics {
  margin-top: 150px;
  padding-top: 150px;
  position: relative;
}
.graphics-bg::after {
  content: "";
  position: absolute;
  opacity: 0.1;
  background: var(--Linear, linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%));
  width: 100%;
  height: 56%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}
.graphics-content_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.graphics-content_top-left_subtitle {
  display: block;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}
.graphics-content_top-left_title {
  display: inline-block;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  color: #170033;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  margin-right: 60px;
}
.graphics-content_top-left_title-gradient {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.graphics-content_top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.graphics-content_top-right_text {
  color: #170033;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 65px;
}
.graphics-content_top-right_button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  min-width: 50px;
  min-height: 50px;
  background-color: #8A35F2;
  border-radius: 10px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.5s;
}
.graphics-content_top-right_button:last-child {
  margin-right: 0;
}
.graphics-content_top-right_button:hover {
  background-color: #BC4BDF;
}
.graphics-content_bottom-slide_top-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.graphics-content_bottom-slide_top-item {
  width: 430px;
  height: 530px;
  position: relative;
}
.graphics-content_bottom-slide_top-item_one {
  background: url(../img/graphics/item_one.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  border-radius: 30px;
}
.graphics-content_bottom-slide_top-item_two {
  background: url(../img/graphics/item_two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  border-radius: 30px;
}
.graphics-content_bottom-slide_top-item_three {
  background: url(../img/graphics/item_three.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  border-radius: 30px;
}
.graphics-content_bottom-slide_top-item_bg {
  position: relative;
  width: 100%;
  height: 100%;
}
.graphics-content_bottom-slide_top-item_bg::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(23, 0, 51, 0) 45.12%, #170033 85.82%);
  opacity: 0.8;
  position: absolute;
  border-radius: 30px;
}
.graphics-content_bottom-slide_top-item_title {
  position: absolute;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  top: 450px;
  left: 30px;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 42px;
}
.graphics-content_bottom-slide_bottom-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.graphics-content_bottom-slide_bottom-item {
  height: 530px;
  position: relative;
}
.graphics-content_bottom-slide_bottom-item_small {
  width: 575px;
  background: url(../img/graphics/item_four.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -135px;
  border-radius: 30px;
}
.graphics-content_bottom-slide_bottom-item_big {
  width: 745px;
  background: url(../img/graphics/item_five.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  border-radius: 30px;
}
.graphics-content_bottom-slide_bottom-item_bg {
  position: relative;
  width: 100%;
  height: 100%;
}
.graphics-content_bottom-slide_bottom-item_bg::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(23, 0, 51, 0) 45.12%, #170033 85.82%);
  opacity: 0.8;
  position: absolute;
  border-radius: 30px;
}
.graphics-content_bottom-slide_bottom-item_title {
  position: absolute;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  top: 450px;
  left: 30px;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 42px;
}

.answers {
  padding-top: 150px;
  padding-bottom: 150px;
}
.answers-content_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}
.answers-content_top-subtitle {
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.answers-content_top-title {
  display: inline-block;
  color: #170033;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 900;
  line-height: 62px;
  margin-bottom: 15px;
}
.answers-content_top-title_gradient {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.answers-content_top-text {
  color: #170033;
  width: 55%;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.answers-content_bottom-items {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
.answers-content_bottom-item {
  width: 660px;
  padding: 25px;
  position: relative;
  margin-bottom: 30px;
}
.answers-content_bottom-item::after {
  content: "";
  position: absolute;
  border-radius: 30px;
  opacity: 0.1;
  background: var(--Linear, linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%));
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}
.answers-content_bottom-item_title {
  color: #170033;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.answers-content_bottom-item_line {
  height: 0.5px;
  background: #170033;
  margin-top: 20px;
  margin-bottom: 20px;
}
.answers-content_bottom-item_text {
  color: #170033;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

details summary {
  display: flex;
  justify-content: space-between;
  align-items: start;
  cursor: pointer;
  list-style: none;
}
details summary::after {
  content: "˅";
}

details[open] summary::after {
  content: "˄";
}

.price {
  padding: 150px 0;
  position: relative;
}
.price::after {
  content: "";
  position: absolute;
  opacity: 0.1;
  background: var(--Linear, linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%));
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}
.price-content {
  display: flex;
  justify-content: space-between;
}
.price-content_left {
  margin-right: 60px;
}
.price-content_left-subtitle {
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}
.price-content_left-title {
  color: #170033;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 900;
  line-height: 62px;
}
.price-content_left-title_gradient {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}
.price-content_left-text {
  color: #170033;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}
.price-content_left-item {
  display: flex;
  margin-bottom: 25px;
}
.price-content_left-item_image {
  margin-top: 5px;
  margin-right: 12px;
}
.price-content_left-item_title {
  color: #170033;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 35px;
}
.price-content_left-item_title-gradient {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.price-content_left-item_text {
  color: #170033;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.price-content_right-items {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.price-content_right-item {
  background: #fff;
  padding: 45px;
  border-radius: 30px;
  position: relative;
  margin-right: 30px;
}
.price-content_right-item:last-child {
  margin-right: 0;
}
.price-content_right-item_recom {
  position: absolute;
  color: #fff;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 0;
  right: 0;
  transform: rotate(45deg) translateX(30px) translateY(25px);
  z-index: 2;
  padding: 3px 0;
  background: var(--Linear, linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%));
}
.price-content_right-item_title {
  color: #170033;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.price-content_right-item_price {
  display: block;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.price-content_right-item_line {
  display: block;
  width: 350px;
  background: #170033;
  height: 0.5px;
  margin-bottom: 20px;
}
.price-content_right-item_nav {
  padding-left: 25px;
}
.price-content_right-item_nav-list {
  color: #170033;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 15px;
  position: relative;
}
.price-content_right-item_nav-list::before {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../img/price/icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -25px;
  top: 4px;
  z-index: 2;
}
.price-content_right-item_nav-list:nth-last-child(-n+2) {
  opacity: 0.5;
}
.price-content_right-item_nav-list:last-child {
  margin-bottom: 35px;
}
.price-content_right-item_nav-list_last:nth-last-child(-n+2) {
  opacity: 1;
}
.price-content_right-item_button {
  width: 100%;
  border-radius: 28px;
  background: var(--Linear, linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%));
  border: none;
  outline: none;
  padding: 15px;
  cursor: pointer;
  color: #fff;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.testimonials-content {
  padding: 150px 0;
}
.testimonials-content_slide {
  position: relative;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.testimonials-content_slide-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 30px;
  width: 150px;
  height: 730px;
  border: 10px solid var(--Linear, #8A35F2);
  z-index: -1;
}
.testimonials-content_slide-avatar {
  width: 640px;
  height: 730px;
  margin-right: 50px;
}
.testimonials-content_slide-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.testimonials-content_slide-right {
  width: 600px;
  padding: 50px 0;
}
.testimonials-content_slide-right_subtitle {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.testimonials-content_slide-right_title {
  color: #170033;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 900;
  line-height: 62px;
}
.testimonials-content_slide-right_title-gradient {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 45px;
}
.testimonials-content_slide-right_item {
  margin-bottom: 30px;
}
.testimonials-content_slide-right_text {
  color: #170033;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
.testimonials-content_slide-right_rating-titles {
  margin-bottom: 12px;
}
.testimonials-content_slide-right_rating-title {
  display: inline-block;
  color: #170033;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.testimonials-content_slide-right_rating-title_gradient {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.testimonials-content_slide-right_rating-stars {
  height: 20px;
  margin-bottom: 50px;
}
.testimonials-content_slide-right_rating-stars img {
  height: 100%;
}
.testimonials-content_slide-right_buttons {
  display: flex;
  align-items: center;
}
.testimonials-content_slide-right_button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  min-width: 50px;
  min-height: 50px;
  border-radius: 10px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.5s;
  background-color: #8A35F2;
}
.testimonials-content_slide-right_button:last-child {
  margin-right: 0;
}
.testimonials-content_slide-right_button:hover {
  background-color: #BC4BDF;
}

.footer {
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  background: var(--170033, #170033);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}
.footer-content {
  padding-top: 80px;
}
.footer-content_top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 75px;
}
.footer-content_top-column_one {
  max-width: 352px;
  margin-right: 85px;
}
.footer-content_top-column_one-logo {
  margin-bottom: 20px;
}
.footer-content_top-column_one-link {
  color: #fff;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.footer-content_top-column_one-link_gradient {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-content_top-column_one-text {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
.footer-content_top-column_one-socs {
  display: flex;
  align-items: center;
}
.footer-content_top-column_one-soc {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #8A35F2;
  border-radius: 10px;
  margin-right: 15px;
}
.footer-content_top-column_two {
  min-width: 160px;
  margin-right: 85px;
}
.footer-content_top-column_titles {
  margin-bottom: 15px;
}
.footer-content_top-column_title {
  color: #fff;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.footer-content_top-column_title-gradient {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-content_top-column_line {
  background: #fff;
  width: 50px;
  height: 3px;
  margin-bottom: 15px;
}
.footer-content_top-column_list {
  margin-bottom: 12px;
}
.footer-content_top-column_link {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-content_top-column_three {
  margin-right: 85px;
}
.footer-content_top-column_three-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-content_top-column_three-item {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}
.footer-content_top-column_three-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.footer-content_top-column_four-text {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}
.footer-content_top-column_four-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 0 0 20px;
}
.footer-content_top-column_four-form::before {
  content: "";
  position: absolute;
  border-radius: 28px;
  opacity: 0.1;
  background: var(--Linear, linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%));
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}
.footer-content_top-column_four-input {
  color: #fff;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: none;
  outline: none;
  background: transparent;
}
.footer-content_top-column_four-button {
  color: #fff;
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
  background: var(--Linear, linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%));
  cursor: pointer;
}
.footer-content_bottom-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.footer-content_bottom-line {
  background: #fff;
  width: 100%;
  height: 0.5px;
  margin-bottom: 15px;
}
.footer-content_bottom-title {
  display: inline-block;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 2px;
}
.footer-content_bottom-title_gradient {
  background-image: linear-gradient(90deg, #8A35F2 0%, #BC4BDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 5px;
}
.footer-content_bottom-title:first-child {
  margin-right: 0;
}
.footer-content_bottom-text {
  font-family: "fontspring-demo-integral-cf-bold", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */